/* Import font dari google font */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


/* 
<=== Style untuk Body dan Container ===>
*/
* {
    margin: 0 0;
    padding: 0 0;
    outline: none;
}
body {
    overflow: hidden;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: linear-gradient(160deg, rgb(29, 29, 163, 0.8) 35%, rgb(17, 194, 230, 0.8) 100%);
    /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('background.jpg') no-repeat; */
    background-size: cover;
    font-family: 'Nunito';
}
.container {
    padding: 20px 0;
    margin: 0 auto;
    width: 30%;

    background: white;
    border-radius: 10px;
    /* box-shadow: 1px 2px 5px rgb(40, 40, 40), -1px -1px 5px rgb(40, 40, 40); */
    /* box-shadow: 1px 2px 3px black, 0 -1px 3px black; */
    border: 1px solid black;
    box-shadow: 1px 2px 3px black;
}
@media (max-width: 480px){
    .container {
        width: 80%;
    }
}


/* 
<=== Style untuk logo ===>
*/
.logo {
    display: block;
    margin: 20px auto;
    width: 85px;
}
@media (max-width: 480px){
    .logo {
        margin: 0 auto;
        width: 60px;
    }
}


/* 
<=== Style untuk header text ===>
*/
.header-text {
    margin: 20px auto 40px;
    width: max-content;
    
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(50, 50, 50);

    border-bottom: 2px solid #50a0eb;
}
@media (max-width: 480px){
    .header-text {
        margin: 15px auto 25px;
        font-size: 24px;
    }
}


/* 
<=== Style untuk input username ===>
*/
input {
    display: block;
    padding-bottom: 6px;
    margin: 30px auto 0;
    width: 65%;

    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(50, 50, 50);

    border: none;
    border-bottom: 2px solid rgb(160, 160, 160);

    transition: 800ms;
}
input:focus {
    /* border-bottom: 2px solid rgb(93, 231, 93); */
    border-bottom: 2px solid #50a0eb;
}
input::placeholder {
    color: rgb(160, 160, 160);
}
input:focus::placeholder {
    color: transparent;
}
@media (max-width: 480px){
    input {
        font-size: 16px;
        width: 70%;
    }
}


/* 
<=== Style untuk input password ===>
*/
.password-container{
    padding-bottom: 6px;
    margin: auto;
    width: 65%;
    position: relative;
}
.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}
.fa-eye{
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: rgb(160, 160, 160);
}
@media (max-width: 480px){
    .password-container {
        width: 70%;
    }
}


/* 
<=== Style untuk tombol login ==>
*/
button {
    display: block;
    cursor: pointer;
    padding: 10px 20px;
    margin: 20px auto 0;


    background: transparent;
    border-radius: 6px;
    border: 1px solid #50a0eb;
    
    font-size: 18px;
    font-weight: 300;
    color: #50a0eb;
    letter-spacing: 1px;

    transition: 800ms;
}
button:hover {
    border: 1px solid #265b8d;
    color: #265b8d;
    background: #def0ff;
}
@media (max-width: 480px){
    button {
        font-size: 16px;
    }
}


/* 
<=== Style untuk paragraf ==>
*/
p {
    margin: 40px 0 0;

    font-size: 14px;
    color: rgb(140, 140, 140);
    text-align: center;
}
a {
    font-family: 'Open Sans';
    color: #265b8d;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
@media (max-width: 480px){
    p {
        font-size: 12px;
    }
}