* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
<======>
<========= Body =========>
<======>
*/
body {
    font-family: 'Nunito';
    overflow-x: hidden;
}
.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 
<======>
<========= Container =========>
<======>
*/
.container {
    /* padding: 0 0 200px; */
    /* box-shadow: 1px 0 3px black; */
    overflow-x: hidden;
}

/* 
<======>
<========= Navigation =========>
<======>
*/
nav {
    position: fixed;
    padding: 6px 0;
    display: flex;
    width: 100%;
    font-weight: 600;
    color: white;
    /* color: rgb(60, 60, 60); */
    box-shadow: 1px 0 3px rgb(70, 70, 70);
    transition: 800ms;
}
.nav-title, .menu-list {
    padding: 0 20px;
    width: 50%;
    
    display: flex;
    gap: 10px;
}

/* Nav title */
.nav-title img {
    height: 35px;
}
.nav-title h1 {
    font-size: 20px;    
}
.nav-btn {
    display: none;
}

/* Nav menu */
.menu-list {
    gap: 20px;
    justify-content: right;
}
.menu-list li a {
    color: white;
    /* color: rgb(70, 70, 70);   */
    text-decoration: none;
    transition: 400ms;
}
.menu-list li a:hover {
    color: rgb(100, 100, 255);
}

/* Btn Link */
.btn-link {
    padding: 6px 14px;
    color: rgb(100, 100, 255) !important;
    border-radius: 10px;
    border: 2px solid rgb(100, 100, 255);
}
.btn-link:hover {
    color: white !important;
    background: rgb(100, 100, 255);
}

@media (max-width: 768px){
    .nav-title, .menu-list {
        gap: 8px;
    }
    
    /* Nav title */
    .nav-title h1 {
        font-size: 18px;    
    }
    
    /* Nav menu */
    .menu-list {
        gap: 12px;
    }
    
    /* Btn Link */
    .btn-link {
        padding: 4px 12px;
    }
}

@media (max-width: 480px){
    nav {
        flex-direction: column;
    }
    .nav-title, .menu-list {
        padding: 0 10px;
        width: 100%;
    }
    
    /* Nav title */
    .nav-title h1 {
        font-size: 18px;    
    }
    .nav-title {
        position: relative;
    }
    .nav-btn {
        display: block;
        aspect-ratio: 1 / 1;
        height: 70%;

        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav-btn span {
        width: 100%;
        height: 18%;
        background: rgb(120, 120, 255);
        border-radius: 10px;
    }

    /* Nav menu */
    .menu-list {
        top: 0;
        padding: 30px 0;
        flex-direction: column;
        gap: 15px;
        text-align: center;

        position: fixed;
        transform: translateY(-100%);
        opacity: 0%; 

        background: rgb(255, 255, 255, 0.5);
        backdrop-filter: blur(4px);
        box-shadow: 1px 0 3px rgb(70, 70, 70);
        transition: 800ms;
    }
    .active {
        transform: translateY(0);
        opacity: 100%;
    }
    
    /* Btn Link */
    .menu-list a, .btn-link {
        margin: 0 auto;
        width: max-content;
    }
}

/* 
<======>
<========= Header Section =========>
<======>
*/
#header {
    padding: 350px;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://ppdb.smktibaliglobalsingaraja.sch.id/template/fe/img/main.jpg');
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid rgb(60, 60, 60);
}